<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <label for="nombre"></label>
        <input type="text", name="nombre", id="nombre", value="{{contacto_a_actualizar.nombre}}">

        <label for="apellido"></label>
        <input type="text", name="apellido", id="apellido", value="{{contacto_a_actualizar.apellido}}">

        <label for="numero"></label>
        <input type="text", name="numero", id="numero", value="{{contacto_a_actualizar.numero}}">

        <input type="submit" value="Actualizar">

    </form>

</body>
</html>